.env
adguard-home/*
!adguard-home/.gitkeep
!adguard-home/confdir/
jellyfin/*
!jellyfin/.gitkeep
transmission/*
!transmission/.gitkeep
!transmission/settings.json
plex/*
!plex/.gitkeep
navidrome/*
!navidrome/.gitkeep
speedtest-tracker/*
!speedtest-tracker/.gitkeep
