.env
adguard-home/*
!adguard-home/.gitkeep
!adguard-home/confdir/
jellyfin/*
!jellyfin/.gitkeep
transmission/*
!transmission/.gitkeep
!transmission/settings.json
plex/*
!plex/.gitkeep
navidrome/*
!navidrome/.gitkeep
speedtest-tracker/*
!speedtest-tracker/.gitkeep
ollama/*
open-webui/*
firefox-headless/*
nodecast/*
!nodecast/db.json

# sensitive
motioneye/camera-1.conf
